rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    match /categories/{categoryId} {
      // Allow listing only if the query is filtered by the user's ID.
      allow list: if request.auth != null && request.query.where.get("userId", "") == request.auth.uid;
      // Allow read/write operations on individual documents if the user is the owner.
      allow read, create, update, delete: if request.auth != null && isOwner(request.resource.data.userId);
    }
    
    match /videos/{videoId} {
      // Allow listing only if the query is filtered by the user's ID.
      allow list: if request.auth != null && request.query.where.get("userId", "") == request.auth.uid;
       // Allow read/write operations on individual documents if the user is the owner.
      allow read, create, update, delete: if request.auth != null && isOwner(request.resource.data.userId);
    }
  }
}
