
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
    
    match /users/{userId}/categories {
      allow list: if isSignedIn() && isOwner(userId);
    }
    match /users/{userId}/categories/{categoryId} {
      allow create: if isSignedIn() && isOwner(userId) && request.resource.data.userId == userId;
      allow read, update, delete: if isSignedIn() && isOwner(userId);
    }

    match /users/{userId}/videos {
      allow list: if isSignedIn() && isOwner(userId);
    }
    match /users/{userId}/videos/{videoId} {
      allow create: if isSignedIn() && isOwner(userId) && request.resource.data.userId == userId;
      allow read, update, delete: if isSignedIn() && isOwner(userId);
    }
  }
}
