name: Build Android App

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Sync Capacitor
        run: npx cap sync android

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Zip APK
        run: |
          cd android/app/build/outputs/apk/debug/
          zip app-debug.zip app-debug.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-zip
          path: android/app/build/outputs/apk/debug/app-debug.zip

      - name: Upload to Firebase Storage
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: android/app/build/outputs/apk/debug/app-debug.zip
          destination: studio-1000335014-1d7fa.appspot.com
          credentials: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          predefinedAcl: publicRead
